
<div class="wrapper fadeInDown">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">

  <div class="navigation-bar">
    <!-- <ul>
      <li><button class="colored-button" (click)="loginSesion()">Iniciar Sesión</button></li>

    </ul>-->
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/userlogin']"> Jugar</a>
        </li>
        <li>
          <a [routerLink]="['/login']">Administrador </a>
        </li>
        <li>
          <a [routerLink]="['/cards']"> MiniJuego Cards</a>
        </li>
        <li>
          <a href="">Ayuda</a>
        </li>
      </ul>
    </nav>
  </div>


